@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans dark:bg-neutral-dark dark:text-neutral-100 selection:bg-primary selection:text-neutral-light;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
